@font-face{
  font-family: "Game Of Squids";
  src: url(../public/fonts/Game\ Of\ Squids.ttf);
}

body {
  background-image: linear-gradient(to bottom,white 45%, rgb(232, 166, 232), rgb(104, 59, 137), rgb(106, 106, 234), rgb(83, 145, 83), rgb(229, 229, 126), rgb(248, 204, 123), rgb(241, 107, 107));
background-repeat: none;
}

input text {
  color: white;
}

.App{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.icon-bar {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #555;
  float:right;
  margin-left:10%;
  box-shadow: 2px 5px 4px #888888;
  /* margin-top:10px; */
  margin-bottom:20px;
  border-radius: 10px; 
}

.icon-bar button {
  float: left;
  width: 18%;
  text-align: center;
  padding: 18px 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 30px;
  background-color:#f1cbdc;
  border-radius: 10px;

}
.icon-bar h1{  
  float: left;
  width: 10%;
  text-align: center;
  padding: 18px 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 30px;
  background-color:#f0bbd3;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* font-family: "Game Of Squids"; */
  /* text-decoration : linear-gradient(to left, rgb(232, 166, 232), rgb(104, 59, 137), rgb(106, 106, 234), rgb(83, 145, 83), rgb(229, 229, 126), rgb(248, 204, 123), rgb(241, 107, 107)); */

}

.icon-bar button:hover {
  background-color: rgb(250, 239, 239);
}

.Rainbow {
  background-image: linear-gradient(to left, rgb(232, 166, 232), rgb(104, 59, 137), rgb(106, 106, 234), rgb(83, 145, 83), rgb(229, 229, 126), rgb(248, 204, 123), rgb(241, 107, 107));
}
 
#EventForm{
  background-color: rgb(250, 239, 239);
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  text-align: absolute;
  box-shadow: 5px 10px 8px #888888;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 218px;

}
#EventForm input[type="text"]{
  text-align: center;
  font-size: 15px;
  color: black;
  margin: 8px;
}
#EventForm input[type="number"]{
  text-align: center;
  font-size: 15px;
  color: black;
  margin: 8px;
  padding-right: 4px;
}
#EventForm input[type="checkbox"]{
  text-align: center;
  font-size: 15px;
  color: black;
  margin: 15px;
}
#EventForm input[type="date"]{
  text-align: center;
  font-size: 15px;
  color: black;
  margin: 8px;
}
#EventForm input[type="url"]{
  text-align: center;
  padding: 0%;
  /* margin: 8px; */
}
#EventForm input[type="submit"]{
  text-align: center;
  padding: 4px
  /* margin: 8px; */
}
#EventCard{
  display: block;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 5px 4px #888888;
  width: 500px;
  color: black;
  background-color:rgb(250, 239, 239);

}
.imageCard {
  height: 120px;
  width: 140px; 
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
  border-radius: 10%;
  background-size: cover;


}

.home{
  background-color: rgb(250, 239, 239);
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 4px #888888;
  margin-top:50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

}


.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  width: 25%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

#btnAdd{
  text-align: center;
  margin-bottom: 4px;
}

#first3btn{
  text-align: center;
  margin-bottom: 4px;
}

#checks{
  text-align: center;
  margin-bottom: 4px;
}
#second3btn{
  text-align: center;
  margin-bottom: 4px;
}
.cards{
  /* list-style: none; */
  display: block;
  flex-wrap: wrap;
}
.going-btn{
  text-align: center;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 22px;
}

.going-btn :hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .going-btn {
    padding: 0 2.6rem;
  }
}

.block-btn{
  text-align: center;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  /* padding: 15px; */
  margin-left: auto;
  /* margin-right: auto; */
  display: block;
  height: 38px;
}

.loginBtn{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-style: none;
  box-sizing: border-box;
  padding: 8px;
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  color: #FFFFFF;
  border-radius: 5px;
}


.loginData{
  /* padding: 20px; */
  margin-bottom: 8px;
  margin-top: 8px;
  display: block;
}
#bottomHome{
  color: #FFFFFF;
  padding: 20px;
  float: bottom;
  margin:8%;
}
#newBtn{
  /* margin-top:50px; */
  text-align: center;
}
.emoji{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
.Donate{
  background-color: rgb(250, 239, 239);
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 4px #888888;
}
.Donate-card{
  background-color: rgb(218, 250, 215);
  color: black;
  font-size: 20px;
  padding: 40px;
  border-radius: 10px;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 60px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 4px #888888;
}

.h4{
  float: right;
}

.about {
  margin-top:50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(250, 239, 239);
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 4px #888888;
  text-align: center;
  margin-bottom: 238px;
}

.donateBtn{
  border-radius: 7px;
  text-align: center;
  margin-left: 70%;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  background-image: linear-gradient(92.88deg, #45b574 9.16%, #43cc6e 43.89%, #47d73f 64.72%);
  border-style: none;
  box-sizing: border-box;
  padding: 8px;
  box-shadow: rgba(63, 205, 75, 0.5) 0 1px 30px;
  color: #FFFFFF;
  margin-bottom: 265px;
}
.donateBtn2{  border-radius: 7px;
  text-align: center;
  margin-left: 70%;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  background-image: linear-gradient(92.88deg, #45b574 9.16%, #43cc6e 43.89%, #47d73f 64.72%);
  border-style: none;
  box-sizing: border-box;
  padding: 8px;
  box-shadow: rgba(63, 205, 75, 0.5) 0 1px 30px;
  color: #FFFFFF;}
.DonateForm{
  background-color: rgb(218, 250, 215);
  padding: 20px;
  /* padding-bottom: 50px; */
  border-radius: 10px;
  text-align: absolute;
  box-shadow: rgba(63, 205, 75, 0.5) 0 1px 30px;
  box-shadow: 5px 10px 8px #888888;
  width: 50%;
  margin-top: 10%;
  display: block;
}
.DonateForm input[type="text"]{
  text-align: center;
  font-size: 15px;
  color: black;
  margin: 8px;
}
.DonateForm input[type="number"]{
  text-align: center;
  font-size: 15px;
  color: black;
  margin: 8px;
}
#storyBox{
  text-align: center;
  width: 80%;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
#title{
  text-align: center;
  padding: 20px;
  width: 20%;
  height: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color:#f0bbd3;
  resize: none;
  box-shadow: 5px 10px 8px #888888;
  font-style: bold;
  /* font-family: "Game Of Squids"; */

}

